<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Profile</title>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/profiles.css">
  <script src="/scripts/file-preview.js" defer></script>
</head>
<body>
  <main id="new-user">
    <form action="/profiles" method="POST" enctype="multipart/form-data">
      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-control"> <!--선택한 사진을 미리보기 할 공간을 만듦-->
        <img id="image-preview" src="" alt="Your picked image."> <!--선택된 사진이 나타날 공간-->
        <label for="image">User image</label>  <!---->
        <input type="file" id="image" name="image" required accept="image/jpeg,image/png">
        <!-- 이미지를 받는 input 
          accept 속성: 선택될 수 있는 파일의 종류를 제한함.
          1) .jpg, .png 와 같이 콤마를 사용해 여러 확장자를 입력할 수 있게할 수 있음.
          2) image/*와 같이 하면 사진형태의 모든 파일을 입력할 수 있게함.
          3) image/jpeg 는 모든 jpeg 종류의 파일을 선택가능하게 함. ex) jpeg, jpg...
        -->
      </div>
      <button class="btn">Save User</button>
    </form>
  </main>
</body>
</html>